<h2 class="sidebar-title">Popular Posts</h2>
<div class="grid"> 
    {% for post in posts %}
    <div class="portfolio-item popular">
        {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ post.title }}">
        {% else %}
        <img src="https://images.unsplash.com/photo-1673169128434-90faeb36aaa3?" alt="{{ post.title }}" width="300" />
        {% endif %}

        <div class="portfolio-text">
            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
            <p>By {{ post.author }}<span>|</span>{{ post.created_at|date:"d.m.Y" }}</p>
        </div>
    </div>
    {% endfor %}
</div>